<main>
  <ul>
    <% @articles.each do |article| %>
      <li>
        <article>
        <h1><%= link_to article.title, article_path(article) %></h1>
        <p><%= article.content %></p>
        </article>
      </li>
    <% end %>
  </ul>
</main>
